{% extends 'base.html' %}

{% block content %}

            <div class="nav-scroller py-1 mb-2 mt-5 mx-5">
                <nav class="nav d-flex justify-content-between" >
                    {% for topic in topics|slice:":10" %}
                        <a class="p-2 link-secondary" href="/{{ topic.id }}"> {{ topic }}</a>
                    {% endfor %}
                </nav>
            </div>

            <main class="container ">
                <div class="p-4 p-md-5 mb-4 text-white rounded bg-learning_log">
                  <div class="col-md-6 px-0">
                    <h1 class="display-4 fst-italic"> What is something you learned today? </h1>
                  </div>
                </div>
            </main>


<div id='Learning-Log'></div>

{% endblock content %}