{% extends 'base.html' %}

{% block content %}

        <nav class="navbar navbar-light bg-light justify-content-between" >
            {% for topic in topics|slice:"5" %}
            {% spaceless %}
            <a class="p-2 link-secondary" href="/{{ topic.id }}"> {{ topic }}</a>
            {% endspaceless %}
        </nav>
    {% endfor %}
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 link-secondary" href="#">{{ topics|first }}</a>
          <a class="p-2 link-secondary" href="#">{{ topics|slice:"2" }}</a>
          <a class="p-2 link-secondary" href="#">Technology</a>
          <a class="p-2 link-secondary" href="#">Design</a>
          <a class="p-2 link-secondary" href="#">Culture</a>
          <a class="p-2 link-secondary" href="#">Business</a>
          <a class="p-2 link-secondary" href="#">Politics</a>
          <a class="p-2 link-secondary" href="#">Opinion</a>
          <a class="p-2 link-secondary" href="#">Science</a>
          <a class="p-2 link-secondary" href="#">Health</a>
          <a class="p-2 link-secondary" href="#">Style</a>
          <a class="p-2 link-secondary" href="#">Travel</a>
        </nav>
      </div>
    </div>


<div id='Learning-Log'></div>

{% endblock content %}