{% extends 'base.html' %}

{% block content %}

	  <div class="container home-image"></div>


		<div class="mask jumbotron">
			<div class='d-flex flex-column justify-content-center h-100'>
			<h1 class="welcome-header display-1 font-weight-bold">Welcome to <br> Logger!</h1>
			<p class="lead">Record your progress on a new skill.
			{% if request.user.is_authenticated %}
			<div class='d-flex mx-auto mt-5'> <a href="/topics" class="btn btn-primary btn-md" role="button" aria-pressed="false">Continue Logging</a></div>
			{% else %}
			<div class='d-flex mx-auto'>
				<a class="btn btn-primary" href="/register" role="button">Become a Logger</a>
			{% endif %}
			</div>
			</div>
		</div>

	</div>

{% endblock content %}
