{% extends 'base.html' %}

{% block content %}

		<div
		class="bg-image"
		style="
		  background-image: url('/static/media/blog_bg.jpg');
		  background-size: cover;
		  height: 100vh;
		"
	  >
		<div class="mask" style="background-color: rgba(0, 0, 0, 0.4); height:100vh">
			<div class='d-flex flex-column justify-content-center align-items-center h-100'>
			<h1 class="display-4 text-white">Welcome to Learning Log!</h1>
			<p class="lead text-white">This is your personal journal. With this web application you can track your progress on any topic you are learning about.</p>
			<hr class="my-4">
			{% if request.user.is_authenticated %}
			<div class='d-flex flex-row justify-content-between'>
				<p class="text-white">Continue to your learning journal.</p> 
			</div>
			<div class='d-flex'> <a href="/topics" class="btn btn-dark btn-md" role="button" aria-pressed="true">Journal</a></div>
			{% else %}
			<p class="text-white">Get started by registering or login to continue your journey.</p>
			<div class='d-flex flex-row justify-content-between'>
				<a class="btn btn-dark btn-lg active mx-5" href="/register" role="button" aria-pressed="true">Register</a>
				<a class="btn btn-dark btn-lg active mx-5" href="/login" role="button" aria-pressed="true">Login</a>
			{% endif %}
			</div>
			</div>
		  </div>

	</div>

{% endblock content %}
