

<nav class="navbar fixed-top navbar-light  navbar-expand-md px-5">
  <div class="container-fluid">
    <a class="navbar-brand nav-link" href="/"><img class="logo" src="/static/media/logo.png"></a>
    <button class="navbar-toggler" id="nav-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mb-5 ps-4" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" id="nav-links" href="/topics"> Logs </a>
        </li>
        {% if request.user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link" id="nav-links" href="/logout">Logout</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" id="nav-links" href="/profile/edit">Edit</a>
        </li> -->

        {% else %}

        <li class="nav-item">
          <a class="nav-link" id="nav-links" href="/login">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="nav-links" href="/register">Register</a>
        </li>

        {% endif %}

      </ul>
    </div>
  </div>
</nav>
